<div class="container">

  <h1>TODO APPLICATION</h1>
  <button type="button" class="btn btn-success" style="margin-left:90%">SAVE</button>
  <table class="table table-bordered">
    <thead style="color: rgb(97, 29, 160);">
      <tr>
        <th scope="col">OrderField</th>
        <th scope="col">Title</th>
        <th scope="col">Desciption</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of datas">
        <td>{{data.orderfield}}</td>
        <td>{{data.title}}</td>
        <td>{{data.description}}</td>
      </tr>
    </tbody>
  </table>
  <h3 style="color: red;">order field</h3>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let data of datas" cdkDrag>{{data.orderfield}}</div>
  </div>
</div>